archivos_w_IGDp
archivos_w_IGDp_20_runs
archivos_w_R2
archivos_w_R2_sld
CD_plot
CD_plots_imgs
Assessment
PFI-EMOA
build
tablasR
Heatmaps
0_EjerciciosconMOPs.ipynb
imgs_pdf
*.pdf
output_logs
tesis.todo
/archivos_EPS+_codigo_comentado
/archivos_R2_codigo_comentado
/New folder
